* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 100%;
}

/* If any other slides are added they need to be displayed out*/
.slide2 {
  display: none;
}

.photoSection {
  display: flex;
  flex-direction: column;
}

.photo {
  align-self: center;
  background: #ebebeb;
  box-shadow: 0px 40px 50px -30px rgba(36, 36, 113, 0.495001);
  border-radius: 5px;
  margin-top: 5vh;
  width: 254px;
  max-width: 540px;
}

.buttonContainer {
  align-self: center;
  background: #fff;
  border-radius: 28px;
  box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 80px;
  height: 40px;
  left: 39%;
  top: 42%;
  z-index: 1;
}

.buttonContainer > button {
  background-color: #fff;
  border: none;
}

.testimonialMessage {
  margin: 5vh 10%;
  text-align: center;
}

.testimonial {
  color: #202047;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-top: 10vh;
}

.name {
  color: #202047;
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-top: 3vh;
}

.title {
  color: #b9b9ce;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.25rem;
}

/*Background SVG's */
.purpleBlob {
  position: absolute;
  width: 327px;
  height: 308px;
  left: 6.4%;
  top: 3.598%;
  z-index: -1;
}

.quoteImg {
  position: absolute;
  width: 16%;
  height: 50px;
  left: 42.13%;
  top: 324px;
}

.curveImg {
  position: absolute;
  width: 76%;
  height: auto;
  left: 0px;
  top: 594.95px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media queries */
@media screen and (min-width: 900px) {
  .container {
    height: 800px;
  }

  .photo {
    position: absolute;
    width: 37.5%;
    height: auto;
    left: 51%;
    top: 14.125%;
  }

  .testimonialMessage {
    margin: auto;
    position: absolute;
    width: 44%;
    height: 44.25%;
    left: 11%;
    top: 26.75%;
    max-width: 635px;
  }

  .testimonial {
    font-size: 2rem;
    line-height: 2.75rem;
    max-width: 635px;
    text-align: left;
  }

  .titleSection {
    margin-top: 2vh;
    text-align: left;
  }

  .name {
    display: inline;
    font-size: 1.25rem;
    line-height: 2.375rem;
  }
  .title {
    display: inline;
    font-size: 1.25rem;
    line-height: 2.375rem;
    margin-left: 10px;
  }

  .buttonContainer {
    position: absolute;
    width: 112px;
    height: 56px;
    left: 55%;
    top: 80.5%;
  }

  .purpleBlob {
    width: 50%;
    height: 77.87%;
    top: 12.25%;
    left: 70%;
    transform: translateX(-50%);
  }

  .quoteImg {
    position: absolute;
    width: 120px;
    height: 100px;
    left: 18%;
    top: 214px;
  }

  .curveImg {
    position: absolute;
    width: 42%;
    height: 18.86%;
    left: 0px;
    top: 81.113%;
  }
}
